*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice:hover{

    background-color: black;
    cursor: pointer;
}

.choice{ 
    height: 165px;
    width: 165px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}

 img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
   justify-content: center;
   display: flex;
   margin-top: 5rem;
   gap: 3rem;
}
.score-board{
    justify-content: center;
    display: flex;
    object-fit: cover;
    align-items: center;
    font-size: 3rem;
    margin-top: 3rem;
    gap: 5rem;
}

.msg-container{
     margin-top: 5rem;
}
#msg{
    font-size: 2rem;
    background-color:rgb(252, 165, 5);
    color:black;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
